:root {
  --primary-color: #51184e;
  --secondary-color: #F9BB03;
  --primary-hover-color: rgb(163, 131, 168);
}



/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body, html {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* The main app container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/* Header Styling */
header {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
}

/* Footer Styling */
footer {
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

/* Main Content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

/* Usermanagement Section */
.Usermanagement {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: black;
}

/* Main Content Section */
.MainContent {
  width: 100%;
  max-width: 60%;
  min-height: 60vh;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert den Messenger horizontal */
  justify-content: center; /* Zentriert den Messenger vertikal */
}

/* Messenger Styling */
.Messenger {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert den Inhalt horizontal */
  justify-content: center; /* Zentriert den Inhalt vertikal */
  text-align: center;
}

/* Button Styling */
button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--primary-color);
}

.user-text {
    position: absolute;
    left: 20px;
    top: 1%;
    width: 20%;
    text-align: left;
    color: black;
}


@media (max-width: 1920px) {
  .MainContent {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }
}
