.create-content, .edit-content {
    width: 100%;
    max-width: 700px;
    justify-content: center;
}

.create-form, .edit-form {
    width: 100%;
}

.create-form input, textarea,
.edit-form input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.create-form input,
.edit-form input {
    height: 45px;
}

.datetime-container {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    gap: 30px;
}

.datetime-container input {
    width: 250px;
    margin-top: 0;
}

.description {
    padding: 10px;
    font-size: 14px;
}

.create-question {
    border: solid black;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.answer-input, .question-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.delete {
    width: 45px;
    height: 45px;
    font-size: 30px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.add {
    margin-top: 10px;
    margin-bottom: 15px;
}

.create-button, .edit-button {
    margin-top: 20px;
}

.select-type, .select-public, .select-anon {
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.select-type {
    margin-bottom: 20px;
}


@media (max-width: 700px) {
    .datetime-container {
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    .datetime-container rdt rdtOpen {
        margin-left: 100px;
    }
}
