.poll h2{
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

.question h3{
    width: 400px;
    text-align: left;
    background-color: #ccc;
}



.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 80vh; /* Full viewport height */
    overflow: hidden;
}

.poll-content {
    flex: none; /* Prevent flexbox from altering the size */
    min-height: 400px; /* Set a fixed minimum height */
    height: auto; /* Allow the container to grow dynamically */
    overflow: visible; /* Remove internal scrolling */
    padding: 1rem;
    margin: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-section {
    display: flex;
    padding: 1rem;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    width: 100%;
    flex-direction: column;
}

.question {
    margin-bottom: 1rem;
}

.answer {
    margin-left: 1rem;
}

.response-message {
    padding: 1rem;
    background-color: #e6ffe6;
    border: 1px solid #b3ffb3;
    border-radius: 5px;
}
