h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

h2 span {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-hover-color);
    color: black;

}

.dashboard-container, .poll-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-container {
    height: 100%;
    overflow: hidden;
}

.poll-content {
    flex: none; /* Prevent flexbox from altering the size */
    min-height: 400px; /* Set a fixed minimum height */
    height: auto; /* Allow the container to grow dynamically */
    overflow: visible; /* Remove internal scrolling */
    padding: 1rem;
    margin: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.button-section {
    display: flex;
    padding: 1rem;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    width: 100%;
    flex-direction: column;
}

.poll-header {
    background-color: var(--primary-hover-color);
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    max-width: 700px;
}

.question {
    margin-bottom: 1rem;
}

.answer {
    margin-left: 1rem;
}

.response-message {
    padding: 1rem;
    background-color: #e6ffe6;
    border: 1px solid #b3ffb3;
    border-radius: 5px;
}

.question {
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 700px;
}

.question-header {
    background-color: var(--primary-hover-color);
    padding: 8px 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 5px 5px 0 0;
}

.question-text {
    text-align: left;
    margin-left: 15px;
}

.question-type {
    text-align: right;
    margin-right: 0px;
    font-size: 0.7rem;
    background-color: #A8B3C5;
    padding: 2px;
    padding-bottom: 1px;
    border-radius: 4px;
    display: inline-block;
    height: fit-content;
}

.display-description {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 10px;
}

.description-header {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 1px;
}

.description-text {
    text-align: left;
    margin-left: 25px;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.select-content {
    max-width: 1000px;
}

.select-poll {
    width: 170px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}


