  .vote-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .answer {
    margin-left: 5%;
    display: flex;                /* Use flexbox for horizontal alignment */
    align-items: center;          /* Align items vertically */
    gap: 5%;                    /* Fixed spacing between radio/checkbox and label */
    margin-bottom: 5px;          /* Space between each answer */
    width: 100%;                  /* Ensures it stretches properly */
  }

  .answer label {
    flex-grow: 1; /* Ensures label fills remaining space */
    text-align: left;
    padding-left: 5px; /* Add slight spacing between input and text */
    margin-right: 50px;
  }

  .answer input[type="radio"],
  .answer input[type="checkbox"] {
    flex-shrink: 0;  /* Prevent shrinking */
    width: 18px;     /* Consistent width */
    height: 18px;    /* Consistent height */
    margin: 0;       /* Remove extra margins */
  }

  .vote-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .Submit_Vote {
    margin: auto; /* align Submit_Vote button Center */
  }

  button:hover {
    background-color: var(--primary-hover-color);
  }
  
  p {
    margin-top: 20px;
    font-size: 16px;
    color: #ff4d4d; /* Red color for error messages */
  }
  
  .Submit_Vote {
    margin-bottom: 1rem; /* Adds space below the button */
}
