.public-container {
    width: 100%;
    max-width: 60%;
    min-height: 60vh;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1920px) {
    .public-container {
        max-width: 1000px;
    }
}

@media (max-width: 768px) {
    button {
        width: 100%;
    }
}


.publicData {
    width: 80%;
    max-width: 600px;
    padding: 0;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.publicData h2 {
    background-color: var(--primary-hover-color);
    padding: 8px 5px;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.publicData form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.publicData label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.publicData input[type="text"],
.publicData select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.publicData button {
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.publicData button:hover {
    background-color: var(--primary-hover-color);
}


.publicData.submitted .invalid {
    border-color: red;
}

.publicData .error-message {
    display: none;
}

.publicData.submitted .error-message {
    display: block;
    color: red;
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 10px;
}


.vote-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.answer {
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 5px;
    width: 100%;
}

.answer label {
    flex-grow: 1;
    text-align: left;
    padding-left: 5px;
    margin-right: 50px;
}

.answer input[type="radio"],
.answer input[type="checkbox"] {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin: 0;
}

.vote-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.Submit_Vote {
    margin: auto;
}

button:hover {
    background-color: var(--primary-hover-color);
}

p {
    margin-top: 20px;
    font-size: 16px;
    color: #ff4d4d;
}

.Submit_Vote {
    margin-bottom: 1rem;
}

.question {
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 700px;
}

.question-header {
    background-color: var(--primary-hover-color);
    padding: 8px 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 5px 5px 0 0;
}

.question-text {
    text-align: left;
    margin-left: 15px;
}

.question-type {
    text-align: right;
    margin-right: 0px;
    font-size: 0.7rem;
    background-color: #A8B3C5;
    padding: 2px;
    padding-bottom: 1px;
    border-radius: 4px;
    display: inline-block;
    height: fit-content;
}

.description-header {
    text-align: left;
    margin-bottom: 1px;
}

.description {
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
}
