.public-container {
    width: 100%;
    max-width: 1000px;
    min-height: 60vh;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

@media (max-width: 1920px) {
    .public-container {
        max-width: 1000px;
    }
}

@media (max-width: 768px) {
    button {
        width: 100%;
    }
}

.publicData,
.vote-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.publicData {
    max-width: 100%;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publicData form {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 100%; 
}

.publicData label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.publicData button {
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.publicData button:hover {
    background-color: var(--primary-hover-color);
}

.answer {
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 5px;
    width: 100%;
}

.answer label {
    flex-grow: 1;
    text-align: left;
    padding-left: 5px;
    margin-right: 50px;
}

.answer input[type="radio"],
.answer input[type="checkbox"] {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin: 0;
}

.vote-button,
.publicData button {
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    min-width: 150px;
    display: block;
    margin: 10px auto; 
}


.vote-button:hover,
.publicData button:hover {
    background-color: var(--primary-hover-color);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

p {
    margin-top: 20px;
    font-size: 16px;
    color: #ff4d4d;
}

.success-message {
    color: black;
}

.publicQuestion, .demographicQuestion {
    align-self: center;
    border-style: solid;
    border-radius: 8px;
    border-width: 3px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 70%;
}

.demographicQuestion {
    margin-left: auto; 
    margin-right: auto;
}

.question-header {
    background-color: var(--primary-hover-color);
    padding: 8px 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 5px 5px 0 0;
}

.question-text {
    text-align: left;
    margin-left: 15px;
}

.question-type {
    text-align: right;
    margin-right: 0px;
    font-size: 0.7rem;
    background-color: #A8B3C5;
    padding: 2px;
    padding-bottom: 1px;
    border-radius: 4px;
    display: inline-block;
    height: fit-content;
}

.display-description {
    width: 100%;
    max-width: 70%;
    margin: 0 auto; 
    text-align: left;
}

.description-header {
    text-align: left;
    margin-bottom: 1px;
    margin-left: 0; /* Ensures it's aligned properly */
    padding-left: 0; /* Ensures no extra space */
}

.description {
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
}

@media (max-width: 810px) {
    .publicQuestion {
        max-width: 100%;
    }
}
